body {
	background-color: white;
	color: #00308F;
	font-family: Verdana, sans-serif;
}
#introdiv {
	background-color: #00308F;
	color: white;
    font-family: Verdana, sans-serif;
	height: 200px;
}
#intro-head {
	float: left;
}
#intro-nav {
	float: right;
}
#descrdiv {
    height: 300px;
    overflow: hidden;
}
#descrpicdiv {
	float: left;
	width: 300px;
	margin: 10px;
}
#descrtextdiv {
	width: 1200px;
}
#div-bot {
	float: right;
}
#div-skills, #div-recs {
	overflow: hidden;
}
#skills-EA, #skills-html, #skills-cpp, #skills-aiml {
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  width: 200px;
  height: 200px;
  border: 2px solid #969696;
  background: #d9dbda;
  margin: 10px;
  float: left;
}
	
a:link, a:visited {
	color: white;
	background-color: #00308F;
	text-decoration: none;
	padding: 0px 25px;
	text-align: center;
}
a:hover {
	color: yellow;
	background-color: #00308F;
	text-decoration: none;
	padding: 0px 25px;
	text-align: center;
}
